<h2>List of dates associated with selected holiday</h2>
<div>
	<h1><%= @holiday.name %></h1>
	<% @hash_to_display.each do |country, date| %>
		<%= Country::COUNTRIES_HASH[country] + ": " + date %>
		<br>
	<% end %>
</div>