<h1>Days#show</h1>
<div>
	<% holiday_count = 1 %>
	<% @list.each do |holidayHash| %>
	<div>
	<h3><%= "Holiday #{holiday_count}" %></h3>
		<% holidayHash.each do |key, info| %>
			<% info = Country::COUNTRIES_HASH[info] if key == "country" %>
			<%= key + ": " + info %>
			<br>
		<% end %>
		<% holiday_count+=1 %>
	</div>
	<% end %>
</div>