

<h1>Listing Occurrences</h1>
<h3><small><%= link_to 'New Occurrence', new_holiday_occurrence_path if logged_in? %></small></h3>

<table class="table-striped">
  <thead>
    <tr>
      <th>Upcoming dates</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @occurrences.each do |occurrence| %>
      <tr>
        <td><%= occurrence.calendar_date.day %></td>
        <td><%= link_to 'Destroy', holiday_occurrence_path(occurrence.holiday.id, occurrence.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>


