<p id="notice"><%= notice %></p>

<h1>Calendar Dates</h1>

<table>
	<col width="130">
  <thead>
    <tr>
      <th>Day</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @calendar_dates.each do |calendar_date| %>
      <tr>
        <td><%= calendar_date.day %></td>
        <td><%= link_to 'Show Holidays', calendar_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
