<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @calendar_date.day %>
</p>

<p>
	<% if @list_of_holidays.length > 0 %>
	<strong>Holidays on this day:</strong>
	<br>
	<ul>
		<% @list_of_holidays.each do |holiday| %>
			<li><%=  holiday.name + ": " + holiday.country %></li>
			<br>
		<% end %>
	</ul>
	<% else %>
	<p>
		<strong>No Holidays to display on this date</strong>
	</p>
	<% end %>
<%= link_to 'Back', calendar_dates_path %>
